{% extends "base.html" %}
{% block content %}

<div class="mb-3">

    <a
        href="{{ url_for(request.blueprint + '.inicio') }}"
        class="btn btn-outline-primary">

        🏠 Início do Módulo

    </a>

</div>

<div class="container py-4" style="max-width: 560px;">
  <div class="card shadow-sm">
    <div class="card-header bg-success text-white">
      <h4 class="mb-0">Contribuicao Online</h4>
    </div>
    <div class="card-body">
      <form method="post">
        <label class="form-label">CPF</label>
        <input name="cpf" class="form-control form-control-lg" inputmode="numeric" required autofocus>
        <button class="btn btn-success w-100 mt-3">Continuar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
