{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-header text-center">
                Cadastro de Ministro
            </div>
            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">
                        <label>Nome</label>
                        <input type="text" name="nome" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Nome Completo</label>
                        <input type="text" name="nome_completo" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>CPF</label>
                        <input type="text" name="cpf" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Telefone</label>
                        <input type="text" name="telefone" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Comunidade</label>
                        <input type="text" name="comunidade" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Senha</label>
                        <input type="password" name="senha" class="form-control" required>
                    </div>

                    <button class="btn btn-success w-100">
                        Cadastrar
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}