{% extends "base.html" %}
{% block content %}

<h2>Selecionar Ministros</h2>
<p class="text-muted mb-3">
    {{ missa.data.strftime('%d/%m/%Y') }} - {{ missa.horario }}
    {% if missa.periodo == "manha" %}(Manha)
    {% elif missa.periodo == "tarde" %}(Tarde)
    {% elif missa.periodo == "noite" %}(Noite)
    {% endif %}
    - {{ missa.comunidade }}
</p>

<form method="POST">

    {% for m in ministros %}
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   name="ministros"
                   value="{{ m.id }}">
            <label class="form-check-label">
                {{ m.nome }}
            </label>
        </div>
    {% endfor %}

    <br>
    <button type="submit" class="btn btn-primary">
        Salvar Escala
    </button>

</form>

{% endblock %}
