{% if current_user.is_admin() %}
<a href="{{ url_for('dashboard.home') }}">Dashboard</a>
<a href="{{ url_for('ministros.ministros') }}">Ministros</a>
<a href="{{ url_for('indisponibilidade.listar_indisponibilidade') }}">Indisponibilidades/Disponibilidade</a>
<a href="{{ url_for('indisponibilidade.mapa_disponibilidade') }}">Mapa de Disponibilidade</a>
<a href="{{ url_for('casais.listar_casais') }}">Casais Servir Juntos</a>
<a href="{{ url_for('missas.missas') }}">Missas</a>
<a href="{{ url_for('estatisticas.estatisticas') }}">Estatisticas</a>
<a href="{{ '/financeiro/dashboard' }}">Financeiro</a>
<a href="{{ url_for('rifas_admin.admin_rifas') }}">Rifas</a>
<a href="{{ url_for('rifas_admin.admin_pagamentos') }}">Pagamentos de Rifas</a>
<a href="{{ url_for('rifas_admin.admin_clientes') }}">Clientes de Rifas</a>
<a href="{{ url_for('estatisticas.confiabilidade') }}">Confiabilidade</a>
<a href="/minhas-escalas">Minhas Escalas</a>
<a href="#" onclick="solicitarPermissaoPush(); return false;">Permissao de Push</a>

<hr class="text-white">

<a href="{{ url_for('mural.mural') }}">Mural</a>
<a href="{{ url_for('avisos.avisos') }}">Avisos</a>
<a href="{{ url_for('avisos.avisos_categoria', categoria='avisos') }}">- Avisos</a>
<a href="{{ url_for('avisos.avisos_categoria', categoria='formacoes') }}">- Formacoes</a>
<a href="{{ url_for('avisos.avisos_categoria', categoria='fotos') }}">- Fotos</a>
<a href="{{ url_for('avisos.novo_aviso') }}">Novo Aviso</a>
<a href="{{ url_for('observacoes_lembrete.listar_criar_observacoes') }}">Observacoes de Lembrete</a>

<hr class="text-white">

<a href="{{ url_for('escala.escala_fixa') }}">Escala Fixa</a>
<a href="{{ url_for('escala.visao_escala_fixa') }}">Visao Organizada</a>
<a href="{{ url_for('escala.gerar_escala_inteligente') }}">Gerar Escala Inteligente</a>
<a href="{{ url_for('presencas.listar_presencas') }}">Controle de Presencas</a>
<a href="{{ url_for('escala.dashboard_ministros') }}">Dashboard de Ministros</a>
{% else %}
<a href="{{ url_for('escala.dashboard_ministros') }}">Dashboard de Ministros</a>
{% endif %}

<hr class="text-white">

<a href="{{ url_for('auth.logout') }}">Sair</a>
