<a href="{{ url_for('dashboard.home') }}">Dashboard</a>
<a href="{{ url_for('ministros.ministros') }}">Ministros</a>
<a href="{{ url_for('missas.missas') }}">Missas</a>
<a href="{{ url_for('estatisticas.estatisticas') }}">Estatísticas</a>
<a href="{{ url_for('estatisticas.confiabilidade') }}">📊 Confiabilidade</a>

<hr class="text-white">

<a href="{{ url_for('escala.escala_fixa') }}">Escala Fixa</a>
<a href="{{ url_for('escala.visao_escala_fixa') }}">Visão Organizada</a>
<a href="{{ url_for('escala.gerar_mensal') }}">📅 Gerar Escala Mensal</a>
<a href="/gerar_mensal_inteligente" class="btn btn-primary">⚡ Gerar Escala Inteligente</a>
<a href="/gerar_mensal_super_inteligente" class="btn btn-warning">⚡ Gerar Escala Inteligente do Mês</a>

<hr class="text-white">
<a href="{{ url_for('auth.logout') }}">Sair</a>