{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Ministros</h2>

{% if current_user.is_admin() %}
<a href="{{ url_for('ministros.novo_ministro') }}" class="btn btn-success mb-3">
    Novo Ministro
</a>

{% endif %}


<div class="table-responsive"></div>
 <table id="tabela-ministros" class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Nome Completo</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Nascimento</th>
            <th>Tempo Ministério</th>
            <th>Cadastro</th>
            <th>Cpf</th>
            <th>Comunidade</th>
            <th class="text-center">Ações</th>
            <th>Acesso</th>
        </tr>
    </thead>

    <tbody>
        {% for ministro in ministros %}
        <tr>
            <td>{{ ministro.nome }}</td>
            <td>{{ ministro.nome_completo }}</td>
            <td>{{ ministro.telefone }}</td>
            <td>{{ ministro.email }}</td>
            <td>{{ ministro.data_nascimento }}</td>
            <td>{{ ministro.tempo_ministerio }} anos</td>
            <td>{{ ministro.data_cadastro }}</td>
            <td>{{ ministro.cpf }}</td>
            <td>{{ ministro.comunidade }}</td>
            <td>
                
                {% if current_user.is_admin() %}
                 <a href="{{ url_for('ministros.editar_ministro', id=ministro.id) }}"
                    class="btn btn-sm btn-warning">
                    Editar
                 </a>

                 <form method="POST"
                       action="{{ url_for('ministros.excluir_ministro', id=ministro.id) }}"
                       onsubmit="return confirm('Deseja excluir este ministro?')"
                       style="display:inline;">
                    <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                 </form>


                {% endif %}  

            </td>

            <td>
                {% if ministro.pode_logar %}
                    Liberado
                {% else %}
                    Pendente
                    {% if current_user.is_admin() %}
                        <form method="POST" action="{{ url_for('ministros.ativar_usuario', id=ministro.id) }}" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-success">Liberar</button>
                        </form>
                    {% endif %}
                {% endif %}
                </td>
        </tr>
        {% endfor %}
    </tbody>
 </table>
</div>

{% endblock %}

<script>

$(document).ready(function() {
    $('#tabela-ministros').DataTable({
        pageLength: 10,
        language: {
            url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json"
        }
    });
});

</script>