{% extends "base.html" %}
{% block content %}

<h2>Nova Missa</h2>

<form method="POST">
    <div class="mb-3">
        <input type="date" name="data" class="form-control" required>
    </div>

    <div class="mb-3">
        <input type="text" name="horario" class="form-control" placeholder="Horario" required>
    </div>

    <div class="mb-3">
        <select name="periodo" class="form-select">
            <option value="">Periodo (automatico pelo horario)</option>
            <option value="manha">Manha</option>
            <option value="tarde">Tarde</option>
            <option value="noite">Noite</option>
        </select>
    </div>

    <div class="mb-3">
        <input type="text" name="comunidade" class="form-control" placeholder="Comunidade">
    </div>

    <div class="mb-3">
        <input type="number" name="qtd" class="form-control" placeholder="Qtd Ministros" required>
    </div>

    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
</form>

{% endblock %}
