{% extends "base.html" %}
{% block content %}

<h3>Novo Ministro</h3>

<form method="post">

<div class="mb-3">
<label>Nome</label>
<input type="text" name="nome" class="form-control" required>
</div>

<div class="mb-3">
<label>Nome Completo</label>
<input type="text" name="nome_completo" class="form-control">
</div>

<div class="mb-3">
<label>Telefone</label>
<input type="text" name="telefone" class="form-control">
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control">
</div>

<div class="mb-3">
<label>Data de Nascimento</label>
<input type="date" name="data_nascimento" class="form-control">
</div>

<div class="mb-3">
<label>Tempo de Ministério (anos)</label>
<input type="number" name="tempo_ministerio" class="form-control">
</div>

<div class="mb-3">
    <label class="form-label">CPF</label>
    <input type="text" name="cpf" class="form-control">
</div>

<div class="mb-3">
    <label class="form-label">Comunidade</label>
    <input type="text" name="comunidade" class="form-control">
</div>

<div class="mb-3">
    <label class="form-label">Comunidade/Bairro</label>
    <input type="text" name="comunidade_bairro" class="form-control">
</div>


<button class="btn btn-success">Salvar</button>

</form>

{% endblock %}
