{% extends "base.html" %}

{% block content %}

<h2>Novo Aviso</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" enctype="multipart/form-data">

<textarea name="texto" class="form-control"
placeholder="Digite o aviso"></textarea>

<br>

<label>Foto</label>
<input type="file" name="imagem" class="form-control">

<br>

<label>Vídeo</label>
<input type="file" name="video" class="form-control">

<br>

<button class="btn btn-primary">
Publicar
</button>

</form>

{% endblock %}
