{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Enviar WhatsApp</h3>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Ministro</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>

        {% for item in links %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>
                <a href="{{ item.link }}"
                   target="_blank"
                   class="btn btn-success">
                   Enviar WhatsApp
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}