{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Enviar WhatsApp</h3>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Ministro</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>

        {% for item in links %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>
                <a href="{{ item.link }}"
                   target="_blank"
                   class="btn btn-success">
                   Enviar WhatsApp
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<button onclick="enviarTodos()" class="btn btn-success">
📲 Enviar para todos
</button>

<script>
function enviarTodos(){

    const links = document.querySelectorAll(".link-wpp")

    links.forEach((link, i) => {

        setTimeout(() => {
            window.open(link.href, "_blank")
        }, i * 1000)

    })

}
</script>

{% endblock %}